mixin menu-list(title, items)
	.large-menu-list
		h3 #{title}
		ul
			each item in items
				li
					a(href="#") #{item.text}
mixin main-banner(title, text, imgSrc, soc)
	.main-banner
		.container
			.main-banner-content.d-flex
				//======TEXT=====
				.main-banner__text
					h1.title-1 !{title}
					if text != ''
						.text-24
							p !{text}
					button.button.button-big--dark(type="button") Записаться на прием
					if soc
						.header-social.d-flex
							p Поделиться с врачом
							.header-social__content
								img(src="./img/"+soc+".png", width="245" alt="alt")
				//======IMAGE=====
				.main-banner__img
					.img-round
						img(src="./img/header/"+ imgSrc +".jpg", width="429" alt="img")
mixin review-item(arg, countNum,ind)
	//=========== review item ============
	.review-item.truncate-item
		.persone-block
			.persone-block__img.img-round
				img(src="./img/doctor.jpg", width="196" alt="img")
			.persone-block__content
				.persone-block__title.d-flex
					.persone-block__title-left
						h4 Никита Владимирович
						.result-card-rating
							span  31/08/2021
							+rating-block(arg, countNum)
					.persone-block__title-right
						a(href="#"+ind).modal-inline.button.button-grey Смотреть фото
						div(id=""+ind style='display: none;')
							
							p
								img(src="./img/doc1.png", alt="alt")
				.persone-text.text-18
					p.min-text Современный многопрофильный медицинский центр, в котором можно получить широкий спектр врачебных услуг по направлениям: неврология (взрослая и детская), терапия, травматология, гинекология, урология, кардиология, ортопедия, педиатрия, офтальмология, гастроэнтерология, эндокринология Современный многопрофильный медицинский центр, в котором можно получить широкий спектр врачебных услуг по направлениям: неврология (взрослая и детская), терапия, травматология, гинекология, урология, кардиология, ортопедия, педиатрия, офтальмология, гастроэнтерология, эндокринология...
					span.dashed-link Весь отзыв

mixin checkbox-item(text)
	.checkbox-item
		label
			input(type="checkbox" name="")
			.fake-checkbox
			| #{text}

mixin result-card(btntext, text)
	.swiper-slide.result-card
		.result-card__img
			img(src="./img/result.jpg", width="568" alt="img")
		.result-card__body.d-flex
			.result-card-text
				.title-bold
					p Результаты наших пациентов
				span Срок акции: 31/08/2021 
			.button.button-small--orange #{btntext}
		if text
			.result-card__footer
				p #{text}

mixin rating-block(num, dataCount)
	p.rating-block(data-rating)
		span.rating-block-passive
			-var start = 0;
			- for (var i = start; i < num; i++) { 
				i
				- }
				
		span.rating-block-active(data-count=""+ dataCount)
			-var start = 0;
			- for (var i = start; i < num; i++) { 
				i
				- }
			